@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  @apply mx-auto px-4;
}

.description p {
  @apply text-gray-500 mb-3;
}

.list-item ul {
  @apply list-none m-0 p-0 pb-5 relative before:content-[''] before:inline-block before:w-3 before:bg-yellow-300 before:absolute before:left-[.35rem] before:top-2;
}

.list-item ul::before {
  height: calc(100% - 10px);
}

/* mb-4 */
.list-item ul li {
  @apply relative pl-10 before:content-[''] before:inline-block before:w-5 before:h-5 before:border-yellow-300 before:border-4 before:bg-white before:p-2 before:absolute before:left-0 before:top-8 before:rounded-full;
}

.list-item .line {
  width: calc(100% - 50%);
}

.list-item .vertical-line {
  @apply absolute right-[49%] top-[-28px] border-r-[.75rem] border-r-yellow-300 h-10 before:content-[''] before:inline-block before:w-5 before:h-5 before:border-yellow-300 before:border-4 before:bg-white before:p-2 before:absolute before:left-[-6px] before:top-[-1rem] before:rounded-full;
}

#buddypress button,
#buddypress input[type="submit"],
#buddypress input[type="button"] {
  @apply bg-yellow-300 inline-flex items-center border-0 text-gray-900 text-sm px-5 py-2.5  hover:bg-yellow-500 !important;
}

#buddypress h2 {
  @apply font-bold text-gray-900;
}

#buddypress nav ul li.current.selected a {
  @apply bg-blue-50 text-blue-600;
}

#buddypress nav ul li a {
  @apply block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded;
}

#buddypress h3 {
  @apply font-bold text-gray-900 text-lg;
}

#buddypress p {
  @apply my-3;
}

#buddypress table {
  @apply mb-5;
}

#buddypress table td {
  @apply py-1;
}

#buddypress table th {
  @apply py-3;
}

#buddypress .single-headers #item-header-avatar a img {
  width: 150px;
}

#buddypress #item-header-content .item-meta {
  @apply pt-3;
}

#buddypress .info.bp-feedback {
  @apply p-2;
}

.single-post input,
.single-post textarea {
  @apply px-3 py-2 border border-gray-200 text-gray-900 font-normal;
}

.single-post input[type="submit"] {
  @apply bg-yellow-300 inline-flex items-center border-0 text-gray-900 text-sm px-5 py-2.5  hover:bg-yellow-500 !important;
}

.single-post .comment-reply-title {
  @apply font-bold text-gray-900 text-xl my-3;
}

.single-post .comment-form p {
  @apply flex flex-col my-2;
}

.single-post .comment-form p.comment-form-cookies-consent label {
  @apply mb-0 ml-2;
}

.single-post .comment-form p.comment-form-cookies-consent,
.single-post .comment-form p.form-submit {
  @apply flex-row items-center;
}

.single-post .comment-form p.form-submit {
  @apply mt-5;
}

.single-post .comment-form p label {
  @apply mb-2;
}

/* Style for the modal container */
.tip-modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 11;
}

/* Style for the modal content */
.tip-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
}

/* Style for the close button */
.tip-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}
